<section class="card" aria-labelledby="services-title">
	<h2 id="services-title">Most Requested Services</h2>
	<ul class="tags">
		<li>Frontend web applications</li>
		<li>Backend & APIs</li>
		<li>Mobile apps</li>
		<li>Cloud architectures</li>
		<li>Performance & scalability</li>
		<li>Security reviews</li>
	</ul>
	<div class="logos" aria-label="Most used technologies">
		<img src="https://davideperrotta.github.io/icons/React.svg" alt="React" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/Node.js.svg" alt="Node.js" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/MongoDB.svg" alt="MongoDB" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/Redis.svg" alt="Redis" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/AWS.svg" alt="AWS" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/Docker.svg" alt="Docker" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/Next.js.svg" alt="Next.js" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/Nest.js.svg" alt="Nest.js" loading="lazy" />
		<img src="https://davideperrotta.github.io/icons/flutter.svg" alt="Flutter" loading="lazy" />
	</div>
</section>
