<section class="card" aria-labelledby="links-title">
	<h2 id="links-title">Links</h2>
	<ul class="links-list">
		<li>
			<a href="https://davideperrotta.github.io/resume_app" target="_blank" rel="noopener noreferrer"
					>Curriculum Vitae / Resume</a
				>
		</li>
		<li>
			<a href="https://linkedin.com/in/davideperrotta" target="_blank" rel="noopener noreferrer"
					>LinkedIn</a
				>
		</li>
		<li>
			<a href="https://www.youtube.com/c/DavidePerrotta" target="_blank" rel="noopener noreferrer"
					>YouTube</a
				>
		</li>
	</ul>
</section>
